@model IEnumerable<Project3.Models.Entity.Complaint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComplaintId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComplaintId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComplaintId })
        </td>
    </tr>
}

</table>
